* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}



.portfolio {
    color: black;
    background: radial-gradient(rgba(238,6,6), rgba(165,79,79));
}

nav {
    min-height: 12vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    font-size: 24;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
    
    overflow: hidden;
    height: 300px;
    align-self: center;
    justify-self: center;
    object-fit: cover;
    
}

.details {
    grid-column: 2/3;
    align-self: end;
    
}

.model-right {
    transform: translate(0%, 10%);
}

.model-left {
    transform: translate(0%,-10%);
}

.hero:hover model-right {
    transform: translate(0%, 0%);
}

.hero:hover .model-left {
    transform: translate(0%,0%);
}

.hero img {
    height: 500px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.hero:hover .model-right {
    transform: translate(0%, 0%);
}